#lg{
 border:0px solid #ff0000;
 height:109px;
 width:623px;
 margin:auto;
}
#zhuti{
 border:0px solid #ff0000;
 height:133px;
 width:623px;
 margin:auto;
}
#anniu{
	border:0px solid #ff0000;
	float:right;
}
#mingzi{
	border:0px solid #ff0000;
	margin-top:3px;
	margin-left:5px;
}
#pinglun{
	border:0px solid #ff0000;
    float:right;
}
#lishi{
	border:0px solid #ff0000;
    height:6000px;
    width:623px;
    margin:auto;
	margin-top:25px;
}
#dinglan{
	border:0px solid #ff0000;
    height:90px;
    width:521px;
	float:right;
}
#xialan{
	border:0px solid #ff0000;
    height:39px;
    width:521px;
    float:right;
}
#zuolan{
	border:0px solid #ff0000;
	height:82px;
    width:82px;
	border-radius:82px;
	margin-top:4px;
	float:left;
}
#zong{
	border:0px;
    height:143px;
    width:623px;
    margin:auto;
}
#top{border:0px solid #ff0000;
     height:250px;
	 width:500px;
	 margin-top:10px;
	 margin:auto;
}
#anni{
	border:0px solid #ff0000;
	height:30px;
	width:50px;
	float:right;
}
.用户名{
	font-size:18px;
	color:#00bb00;
}
.内容{
	font-size:15px;
}
.时间{
	font-size:12px;
	color:#8e8e8e;
}
.空格{
	color:#FFFFFF;