section{background-image:url(../pic/117.jpg);background-size:100% 100%;background-repeat:no-repeat;}
header a{position:absolute;right:1%;bottom:20%;color:white;}
section{height:90%;}

.table-striped>tbody>tr:nth-child(odd)>td{background:lightgray;}
.table-striped>tbody>tr:nth-child(even)>td{background:darkgray;}
.table-hover>tbody>tr:hover>td{background:lightblue;}
.table-hover>tbody>tr:active>td{background:#3385FF;}
.table>thead{background:#3385FF;font-size:14pt;font-weight:bold;color:white;}

.titleFont{text-align:center;margin:0px auto;color:white;line-height:180%;}
.divTurnSellerPage{position:absolute;float:left;color:white;}
.divTurnSellerPage span{font-size:25pt;float:left;line-height:180%;padding-left:10px;}
.divTurnSellerPage span:hover{color:gray;}
.divTurnSellerPage span:active{color:lightblue;}
.turnTopTip{position:absolute;float:left;background:lightgray;color:gray;height:20px;width:80px;display:none;}

.divMenuList{width:25%;height:90%;margin:2% 5%;float:left;}
.divFoodList{float:right;width:55%;height:90%;margin-top:2%;margin-right:8%;}
.divMenuList label, .divFoodList label{text-align:center;width:100%;color:black;height:8%;}
.menuList, .foodList{border:1px solid gray;border-radius:4px;height:92%;box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .6);overflow-y:auto;text-align:center;}
.divFoodList tbody>tr>td:first-child{width:20%;}
.divFoodList tbody>tr>td:first-child label{float:left;width:80%;}
.divFoodList tbody>tr>td:first-child input{float:left;box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .6);}

.divBtn{position:absolute;right:2%;bottom:6%;clear:both;width:5%;}
.divButton{right:64%;}
.divBtn button{margin-top:5%;width:100%;font-weight:bold;}

.divInfo{position:absolute;top:0px;width:20%;background:#BCA0F7;text-align:center;color:red;border-radius:10px;box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .6);opacity:0;z-index:-1;}
.divInfo h3{position:relative;left:25%;height:30%;width:50%;line-height:200%;color:white;background:#563D7C;border-radius:10px;}
.divInfo h4{position:relative;height:20%;line-height:300%;}
.divInfo button{position:relative;left:2%;margin:0px auto;margin-bottom:5px;}